.section-box
    width 1200px
    margin-left auto
    margin-right auto
    position relative
    top 20px

.login-widget
    width 250px
    height 220px
    position absolute
    right 200px
    top 20px
    background-color rgba(0, 0, 0, 0.3)

    input,button,i
        border-radius 0 !important
    form
        height 145px
        margin-top 10px
        position relative

        .input-group
            margin-bottom 5px
        .btn
            position absolute
            bottom 0

    ul.nav.nav-tabs>li.active>a
        background-color transparent
        font-weight bold
        color rgb(64, 132, 195)
        border none
    ul.nav>li>a
        border none
        &:focus,&:hover
            background-color transparent
            border none
