<div class="login-widget">
  <uib-tabset justified="true">
      <uib-tab heading="邮箱登录">
          <form>
              <div class="input-group">
                  <span class="input-group-addon">
                      <i class="glyphicon glyicon-user"></i>
                  </span>
                  <input type="text" class="form-control" placeholder="邮箱" ng-model="email">
              </div>
              <div class="input-group">
                  <div class="input-group-addon">
                      <i class="glyphicon glyphicon-lock"></i>
                  </div>
                  <input type="text" class="form-control" placeholder="密码" ng-model="password">
              </div>
              <div class="row">
                  <a href="">忘记密码?</a>
              </div>
              <button class="btn btn-primary btn-block" ng-click="loginWithEmail()">登&nbsp;录</button>
          </form>
      </uib-tab>
      <uib-tab heading="IKey登录">
          <div class="row">
              <p>请插入IKey并点击登录</p>
              <button class="btn btn-primary btn-block" ng-click="loginWithIKey()">登&nbsp;录</button>
          </div>
      </uib-tab>
  </uib-tabset>
</div>
